/*
Font
=========================== */
$font-primary: 'Roboto', sans-serif;

/*
Color
=========================== */
$color-title: #1d1d1d;
$color-content: #444444;
$color-gray: #dfdfdf;
$color-bg-gray: #fafafa;
$color1: #a7ffeb;
$color2: #64ffda;
$color3: #1de9b6;
$color4: #00bfa5;
